{{- if .Values.hornet.rbac.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "hornet.name" . }}
  namespace: {{ .Release.Namespace | quote }}
---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "hornet.name" . }}
  namespace: {{ .Release.Namespace | quote }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - list

---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "hornet.name" . }}
  namespace: {{ .Release.Namespace | quote }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "hornet.name" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "hornet.name" . }}
  namespace: {{ .Release.Namespace | quote }}
{{- end }}
