{{- if .Values.isMainDomain }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "network.name" . }}
  namespace: {{ .Release.Namespace | quote }}
spec:
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      labels:
        {{- include "network.selectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        fsGroup: 65532
      terminationGracePeriodSeconds: 10
      restartPolicy: OnFailure
      {{- with .Values.network.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.network.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.network.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      nodeSelector:
        kubernetes.io/hostname: {{ .Values.mainIE }}
      initContainers:
        - name: create-snapshots
          securityContext:
            {{- toYaml .Values.snapshots.securityContext | nindent 12 }}
          image: "{{ .Values.snapshots.image.repository }}:{{ .Values.snapshots.image.tag }}"
          imagePullPolicy: {{ .Values.snapshots.image.pullPolicy }}
          args: [
            "tool",
            "snap-gen",
            "--protocolParametersPath=/app/protocol_parameters.json",
            "--mintAddress={{ .Values.snapshots.mintAddress }}",
            "--genesisAddresses={{ .Values.snapshots.genesisAddresses }}",
            "--outputPath=/app/snapshots/full_snapshot.bin"
          ]
          volumeMounts:
          - name: protocol-parameters
            mountPath: /app/protocol_parameters.json
            subPath: protocol_parameters.json
            readOnly: true
          - name: snapshots
            mountPath: /app/snapshots 
      containers:
        - name: bootstrap-network
          securityContext:
            {{- toYaml .Values.network.securityContext | nindent 12 }}
          image: "{{ .Values.network.image.repository }}:{{ .Values.network.image.tag }}"
          imagePullPolicy: {{ .Values.network.image.pullPolicy }}
          {{- with .Values.network.envVars }}
          env:
            - name: COO_PRV_KEYS
              value: {{ .COO_PRV_KEYS | quote }}
          {{- end }}
          args: [
            "tool",
            "bootstrap-private-tangle",
            "--configFile=/app/config_private_tangle.json",
            "--snapshotPath=/app/snapshots/full_snapshot.bin",
            "--databasePath=/app/privatedb",
            "--cooStatePath=/app/state/coordinator.state"
          ]
          volumeMounts:
          - name: private-tangle
            mountPath: /app/config_private_tangle.json
            subPath: config_private_tangle.json
            readOnly: true
          - name: snapshots
            mountPath: /app/snapshots
          - name: privatedb
            mountPath: /app/privatedb
          - name: state
            mountPath: /app/state
      volumes:
      - name: private-tangle
        configMap: 
          name: private-tangle-config
      - name: snapshots
        persistentVolumeClaim:
          claimName: snapshots-{{ include "snapshots.name" . }}-pvc
      - name: privatedb
        persistentVolumeClaim:
          claimName: privatedb-{{ include "network.name" . }}-pvc
      - name: state
        persistentVolumeClaim:
          claimName: state-{{ include "network.name" . }}-pvc
      - name: protocol-parameters
        configMap: 
          name: protocol-parameters-config
{{- end }}
